<h1>Edit your Profile</h1>
<hr>
<div class="container change_modal_view">
  <form ng-submit="editUser()">
    <div class="form-group">
      <label for="username">
        Username: <input class="form-control" ng-model="userInfo.username">
      </label>
    </div>
    <div class="form-group">
      <label for="firstName">
        First name: <input class="form-control" type='text' name="firstName" ng-model="userInfo.firstName">
      </label>
    </div>
    <div class="form-group">
      <label for="lastName">
        Last name: <input class="form-control" type='text' name="lastName" ng-model="userInfo.lastName">
      </label>
    </div>
    <div class="form-group">
      <label for="location">
        Location: <input placeholder="Where do you live?" class="form-control" type='text' name="location" ng-model="userInfo.location">
      </label>
    </div>
    <div class="form-group">
      <label for="description">
        Bio: <textarea ng-model="userInfo.description" class="form-control" name="description" rows="4" cols="70" placeholder="Tell the world a little bit about yourself. the shorter the better."></textarea>
      </label>
    </div>
    <input type="submit" value="Save Changes">
  </form>
  <hr>
  <p>{{error.message}}</p>
  <p ng-repeat="error in errors.errors">{{error.message}}</p>
  <button ng-click="cancel()">Done</button>
  </div>


<style media="screen">
  .change_modal_view{
    width: 80%;
    margin: 0 auto;
  }
</style>
