<h1>Login</h1>
<div ngif="error">
  <p>{{error}}</p>
</div>
<form ng-submit="login()">
  <div class="login_form form-group">
    <label for="email">
      Email: <input type="text" class="form-control" name="email" ng-model="userLogin.email">
    </label>
  </div>
  <div class="login_form form-group">
    <label for="password">
      Password: <input type="password" class="form-control" name="password" ng-model="userLogin.password">
    </label>
  </div>
  <input type="submit" value="Log In">
</form>
<style media="screen">
  .login_form{
    padding-left: 20px;
  }
</style>
