  <footer id="audio-player" class="footer navbar-fixed-bottom">
    <div class="player-container container-fluid">
      <div class="col-xs-12">
      <div id="player-controls" class="col-xs-12">
        <a href=""><span class="glyphicon glyphicon-step-backward" ></span></a>
        <a href=""><span class="glyphicon glyphicon-play"></span></a>
        <a href=""><span class="glyphicon glyphicon-step-forward"></span></a>
        <a href=""><span class="glyphicon glyphicon-eject"></span></a>
        <img id="audio_player_album_cover" ng-src="" alt="Album Cover">
        <div>
          <p>Playlist Name</p>
          <p>Artist - Title</p>
        </div>
      </div>
  </div>
</footer>
