<navigation></navigation>
<div class="container">
  <div id="header">
    <h2 id="username">{{user.username}}</h2>
    <h4 id="profile_name">{{user.firstName}} {{user.lastName}}</h4>
      <button ng-if="user._id == id" id="profile_select_picture" class="btn pull-left" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'profile')"
          accept="image/*" ngf-max-height="1000" ngf-max-size="10MB">
      Profile Picture</button>
      <img class="img-circle profile_picture" src="{{user.profile_image}}">
      <div class="cover_picture">
        <button ng-if="user._id == id" id="cover_select_picture" class="btn pull-right" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'cover')"
            accept="image/*" ngf-max-height="1000" ngf-max-size="10MB">
        Cover Picture</button>
        <img class="cover_image"src="{{user.cover_image}}">
      </div>
  </div>
  <div id="profile-links" class="col-sm-12">
    <ul class="nav nav-pills tabs">
      <li class="active"><a ng-click="changeView(0, containerView)"><h4>All</h4></a></li>
      <li><a ng-click="changeView(1, containerView)"><h4>Tracks</h4></a></li>
      <li><a ng-click="changeView(2, containerView)"><h4>Playlist</h4></a></li>
      <li><a ng-click="changeView(3, containerView)"><h4>Reposts</h4></a></li>
    </ul>
    <span ng-if="user._id !== id"><button ng-if="user.followers.indexOf(id) == -1" ng-click="follow(user._id)"class="pull-right profile-buttons">Follow</button></span>
    <span ng-if="user._id !== id"><button ng-if="user.followers.indexOf(id) > -1" ng-click="unfollow(user._id)"class="pull-right profile-buttons">Unfollow</button></span>
    <button class="pull-right profile-buttons">Edit</button>
  </div>
  <div id="profile-content" class="col-sm-8 col-xs-12 light-gray-right-border">
    <div class="col-sm-12" ng-if="containerView == 0">
    </div>
    <div class="col-sm-12" ng-if="containerView == 1">
      <div class="song-area" ng-repeat="song in user.uploaded_songs">
        <div class="audio_player_preview">


              <div class="row">
                <img class="col-xs-3" id="album_cover_preview" ng-src="{{song.album_cover}}" alt="Album Cover">

                <div class="col-xs-6">
                  <p>{{song.artist_name}}</p>
                  <p class="song_title"><a href="#!/song/{{song._id}}">{{song.song_title}}</a></p>
                </div>
                <div class="col-xs-3">
                  <button class="preview_play_button" type="button" ng-click="play_pause($index, song)" name="play"><span id="s{{$index}}" class="glyphicon glyphicon-play"></span></button>
                </div>
              </div>
              <div class="w{{song._id}}"></div>


          <div class="row">
            <div class="col-xs-3">
              <button class="preview_button" ng-if="song.likeFlag" uib-tooltip="unlike" ng-click="disLike(song._id, id, $index)"><span class="glyphicon glyphicon-heart red"></span></button>
              <button class="preview_button" ng-if="song.likeFlag === false" uib-tooltip="like" ng-click="like(song._id, id, $index)"><span class="glyphicon glyphicon-heart"></span> </button>
              <button class="preview_button" ng-if="song.repostFlag" uib-tooltip="unpost" ng-click="removeRepost(song._id, id, $index)"><span class="glyphicon glyphicon-retweet red"></span></button>
              <button class="preview_button" ng-if="song.repostFlag === false" uib-tooltip="post" ng-click="repost(song._id, id, $index)"><span class="glyphicon glyphicon-retweet"></span></button>
              <button class="preview_button" uib-tooltip="add to playlist" ng-click="open(song._id)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div id="t{{$index}}" class="col-xs-7"></div>
            <div class="col-xs-2" id="l{{song._id}}"></div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-12" ng-if="containerView == 2">
          <div ng-repeat="playlist in user.playlists">
            <div class="audio_player_preview">
              <div class="row">
                <img class="col-xs-3" id="album_cover_preview" ng-src="{{playlist.first_song_art}}" alt="Album Cover">
                <div class="col-xs-6">
                  <p>{{playlist.title}}</p>
                  <p class="song_title">By <a href="#!/profile/{{playlist._user.username}}/{{playlist._user._id}}">{{playlist._user.username}}</a></p>
                </div>
                <div class="col-xs-3">
                  <button class="preview_play_button" type="button" ng-click="play_pause($index, playlist.current_song.song, playlist)" name="play"><span id="s{{$index}}" class="glyphicon glyphicon-play"></span></button>
                </div>
              </div>
              <div class="w{{playlist._id}}"></div>
              <div class="row">
                <p class="col-xs-6 text-center">{{playlist.current_song.song.artist_name}}</p>
                <p class="col-xs-6 text-center"><a href="#!/song/{{playlist.current_song.song._id}}">{{playlist.current_song.song.song_title}}</a></p>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <button class="preview_button" ng-if="playlist.likeFlag" ng-click="playlistDisLike(playlist._id, id, $index)"><span class="glyphicon glyphicon-heart red"></span></button>
                  <button class="preview_button" ng-if="playlist.likeFlag === false" ng-click="playlistLike(playlist._id, id, $index)"><span class="glyphicon glyphicon-heart"></span> </button>
                  <button class="preview_button" ng-if="playlist.repostFlag" ng-click="playlistRemoveRepost(playlist._id, id, $index)"><span class="glyphicon glyphicon-retweet red"></span></button>
                  <button class="preview_button" ng-if="playlist.repostFlag === false" ng-click="playlistRepost(playlist._id, id, $index)"><span class="glyphicon glyphicon-retweet"></span></button>                </div>
                <div id="t{{$index}}" class="col-xs-8"></div>
                <div class="col-xs-1" id="l{{song._id}}"></div>
              </div>
              <div id="tracklist">
                <div ng-repeat="song in playlist.songs" ng-if="song != playlist.current_song.song" class="row">
                  <div class="col-xs-1">
                    <p>{{$index + 1}}</p>
                  </div>
                  <div class="col-xs-4">
                    <p>{{song.song_title}}</p>
                  </div>
                  <div class="col-xs-4">
                    <p>{{song.artist_name}}</p>
                  </div>
                  <div class="col-xs-2">
                    <button class="preview_button" ng-click="changeSongPlaylist($parent.$parent.$index, $index, song, playlist)" type="button" name="button"><span class="glyphicon glyphicon-play"></span></button>
                  </div>
                </div>
              </div>


            </div>
          </div>
      </div>
      <div class="col-sm-12" ng-if="containerView == 3">
        <div ng-repeat="song in user.reposts">
          <div class="audio_player_preview">
            <div class="row">
              <img class="col-xs-3" id="album_cover_preview" ng-src="{{song.album_cover}}" alt="Album Cover">
              <div class="col-xs-6">
                <p>{{song.artist_name}}</p>
                <p class="song_title"><a href="#!/song/{{song._id}}">{{song.song_title}}</a></p>
              </div>
              <div class="col-xs-3">
                <button class="preview_play_button" type="button" ng-click="play_pause($index, song)" name="play"><span id="s{{$index}}" class="glyphicon glyphicon-play"></span></button>
              </div>
            </div>
                <div class="w{{song._id}}"></div>
            <div class="row">
              <div class="col-xs-3">
                <button class="preview_button" ng-if="song.likeFlag" ng-click="disLike(song._id, id, $index)"><span class="glyphicon glyphicon-heart red"></span></button>
                <button class="preview_button" ng-if="song.likeFlag === false" ng-click="like(song._id, id, $index)"><span class="glyphicon glyphicon-heart"></span> </button>
                <button class="preview_button" ng-if="song.repostFlag" ng-click="removeRepost(song._id, id, $index)"><span class="glyphicon glyphicon-retweet red"></span></button>
                <button class="preview_button" ng-if="song.repostFlag === false" ng-click="repost(song._id, id, $index)"><span class="glyphicon glyphicon-retweet"></span></button>
                <button class="preview_button" ng-click="open(song._id)"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div id="t{{$index}}" class="col-xs-7"></div>
              <div class="col-xs-2" id="l{{song._id}}"></div>
            </div>
          </div>
      </div>
    </div>
    </div>
    <div id="right-sidebar" class="col-sm-4 col-xs-12">
      <div class="col-xs-12">
        <table class="user-stats-table">
          <tr>
            <td class="user-stats-info light-gray-right-border"><a href="/#!/social/{{user.username}}/{{user._id}}/3"><h5>Followers</h5> <h4>{{user.followers.length}}</h4></a></td>
            <td class="user-stats-info light-gray-right-border"><a href="/#!/social/{{user.username}}/{{user._id}}/2"><h5>Following</h5> <h4>{{user.following.length}}</h4></a></td>
            <td class="user-stats-info"><a ng-click="changeView(1)"><h5>Tracks</h5> <h4>{{user.uploaded_songs.length}}</h4></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
