<navigation></navigation>
<div class="container">
  <div class="col-xs-12">
    <h2 id="search-headline" class="col-xs-12">Search results for "{{search_term}}"</h2>
  </div>
  <div id="left-sidebar" class="col-xs-6 col-sm-3">
    <uib-tabset id="result-tabs" active="activePill" vertical="true" type="pills">
      <uib-tab index="0" heading="Everything"></uib-tab>
      <uib-tab index="1" heading="Songs"></uib-tab>
      <uib-tab index="2" heading="Users"></uib-tab>
      <uib-tab index="3" heading="Artists"></uib-tab>
      <uib-tab index="4" heading="Playlists"></uib-tab>
    </uib-tabset>
  </div>
  <div id="search-results" class="col-xs-12 col-sm-9">
    <h5 class="headline">Found {{ total_tracks }} tracks, {{ total_playlists }} playlists,{{ total_people }} people:</h5>
    <div class="song-area" ng-repeat="song in results.songs">
      <div class="audio_player_preview">
        <div class="row">
          <img class="col-xs-3" id="album_cover_preview" ng-src="{{song.album_cover}}" alt="Album Cover">
          <div class="col-xs-9">
            <div class="row">
              <div class="col-xs-9">
                <p>{{song.artist_name}}</p>
                <p class="song_title"><a href="#!/song/{{song._id}}">{{song.song_title}}</a></p>
              </div>
              <div class="col-xs-3">
                <button class="preview_play_button" type="button" ng-click="play_pause($index)" name="play"><span id="s{{$index}}" class="glyphicon glyphicon-play"></span></button>
              </div>
            </div>
            <div id="w{{song._id}}"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <button class="preview_button" ng-if="song.likes.indexOf(id) > -1" ng-click="disLike(song._id, id)"><span class="glyphicon glyphicon-heart"></span> {{song.likes.length}}</button>
            <button class="preview_button" ng-if="song.likes.indexOf(id) == -1" ng-click="like(song._id, id)"><span class="glyphicon glyphicon-heart"></span> {{song.likes.length}}</button>
            <button class="preview_button" ng-if="song.reposted_by.indexOf(id) > -1" ng-click="removeRepost(song._id, id)"><span class="glyphicon glyphicon-retweet"></span> {{song.reposted_by.length}}</button>
            <button class="preview_button" ng-if="song.reposted_by.indexOf(id) == -1" ng-click="repost(song._id, id)"><span class="glyphicon glyphicon-retweet"></span> {{song.reposted_by.length}}</button>
            <button class="preview_button" ng-click="open(song._id)"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
          <div id="t{{$index}}" class="col-xs-8"></div>
          <div class="col-xs-1" id="l{{song._id}}"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>

{{ results }}
