<navigation></navigation>
  <div id="fixed-top">
    <div id="social-header">
      <h2 id="social_profile_name">{{user.firstName}} {{user.lastName}}</h2>
      <a  href="/#!/profile/{{user.username}}/{{user._id}}"><img class="img-circle social_profile_picture" src="{{user.profile_image}}"></a>
    </div>
    <uib-tabset id="social-tabs" active="activePill" vertical="false" type="pills">
      <uib-tab index="1" heading="Likes" data-ng-click="changeView(1)"></uib-tab>
      <uib-tab index="2" heading="Following" data-ng-click="changeView(2)"></uib-tab>
      <uib-tab index="3" heading="Followers" data-ng-click="changeView(3)"></uib-tab>
    </uib-tabset>
  </div>
  <div class="container">
    <div id="body">
    <div ng-if="containerView == 1">
    </div>
    <div ng-if="containerView == 2">
      <div class="following col-lg-3 following_button" ng-repeat="following in user.following">
        <a href="/#!/profile/{{following.username}}/{{following._id}}">
        <img class="img-circle follow_image img-responsive" ng-src="{{following.profile_image}}">
        <p class="text-center">{{following.username}}</p>
        </a>
        <span ng-if="following._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="following.followingcheck == false" ng-click="follow(following._id)">Follow</button></span>
        <span ng-if="following._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="following.followingcheck == true" ng-click="unfollow(following._id)">Unfollow</button></span>
        <a ng-if="following._id == id" class="ui-following" href="/#!/profile/{{following.username}}/{{following._id}}">Return to your Profile</a>
      </div>
    </div>
    <div ng-if="containerView == 3">
      <div class="following col-lg-3 following_button" ng-repeat="follower in user.followers">
        <a href="/#!/profile/{{follower.username}}/{{follower._id}}">
        <img class="img-circle follow_image img-responsive" ng-src="{{follower.profile_image}}">
        <p class="text-center social_username">{{follower.username}}</p>
        </a>
        <span ng-if="follower._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="follower.followingcheck == false" ng-click="follow(follower._id)">Follow</button></span>
        <span ng-if="follower._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="follower.followingcheck == true" ng-click="unfollow(follower._id)">Unfollow</button></span>
        <a id="return" class="center-block" ng-if="follower._id == id" href="/#!/profile/{{follower.username}}/{{follower._id}}">Return to your Profile</a>
      </div>
    </div>
  </div>
</div>
<style>
.following{
  margin-top: 15px;
  margin-bottom: 20px;
  top: 30px;
  height: 240px;
  display: inline-block;
  font-size: 20px;
}
.follow_image{
  width: 200px;
  height: 200px;
}
.img-responsive{
  margin: 0 auto;
}
.social_username{
  font-size: 20px;
}
.following_button button {
  display: none;
}
.following_button:hover button{
  width: 70px;
  height: 30px;
  font-size: 12px;
  display: block;
}
.following_button #return{
  display: none;
}
.following_button:hover #return{
  width: 120px;
  height: 10px;
  font-size: 12px;
  display: block;
}
</style>
