<navigation></navigation>
  <div class="container">
  <div id="fixed-top">
    <div id="social-header">
      <h2 id="social_profile_name">{{user.firstName}} {{user.lastName}}</h2>
      <a  href="/#!/profile/{{user.username}}/{{user._id}}"><img class="img-circle social_profile_picture" src="{{user.profile_image}}"></a>
    </div>
    <uib-tabset id="social-tabs" vertical="false" type="pills">
      <uib-tab heading="Likes" ng-click="changeView(1)"></uib-tab>
      <uib-tab heading="Following" ng-click="changeView(2)"></uib-tab>
      <uib-tab heading="Followers" ng-click="changeView(3)"></uib-tab>
    </uib-tabset>
  </div>
  <div id="social-results">
    <div ng-if="containerView == 1">
      <h3>Liked Songs</h3>
        <h3 ng-if="user.like_songs.length == 0">User has no liked songs</h3>
      <div ng-repeat="song in user.like_songs">
        <div class="audio_player_preview">
          <div class="row">
            <img class="col-xs-3" id="album_cover_preview" ng-src="{{song.album_cover}}" alt="Album Cover">
            <div class="col-xs-6">
              <p>{{song.artist_name}}</p>
              <p class="song_title"><a href="#!/song/{{song._id}}">{{song.song_title}}</a></p>
            </div>
            <div class="col-xs-3">
              <button class="preview_play_button" type="button" ng-click="play_pause($index, song)" name="play"><span id="s{{$index}}" class="glyphicon glyphicon-play"></span></button>
            </div>
          </div>
              <div class="w{{song._id}}"></div>
          <div class="row">
            <div class="col-xs-3">
              <button class="preview_button" uib-tooltip="unlike" ng-if="song.likeFlag" ng-click="disLike(song._id, id, $index)"><span class="glyphicon glyphicon-heart red"></span></button>
              <button class="preview_button" uib-tooltip="like" ng-if="song.likeFlag === false" ng-click="like(song._id, id, $index)"><span class="glyphicon glyphicon-heart"></span> </button>
              <button class="preview_button" uib-tooltip="unpost" ng-if="song.repostFlag" ng-click="removeRepost(song._id, id, $index)"><span class="glyphicon glyphicon-retweet red"></span></button>
              <button class="preview_button" uib-tooltip="post" ng-if="song.repostFlag === false" ng-click="repost(song._id, id, $index)"><span class="glyphicon glyphicon-retweet"></span></button>
              <button class="preview_button" uib-tooltip="add to playlist" ng-click="open(song._id)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div id="t{{$index}}" class="col-xs-7"></div>
            <div class="col-xs-2" id="l{{song._id}}"></div>
          </div>
        </div>
    </div>
    <h3>Liked Playlists</h3>
    <h3 ng-if="user.like_playlists.length == 0">User has no liked playlists</h3>
    <div ng-repeat="playlist in user.like_playlists">
      <div class="audio_player_preview">
        <div class="row">
          <img class="col-xs-3" id="album_cover_preview" ng-src="{{playlist.first_song_art}}" alt="Album Cover">
          <div class="col-xs-6">
            <a href="#!/playlist/{{playlist._id}}"><p>{{playlist.title}}</p></a>
            <p class="song_title">By <a href="#!/profile/{{playlist._user.username}}/{{playlist._user._id}}">{{playlist._user.username}}</a></p>
          </div>
          <div class="col-xs-3">
            <button class="preview_play_button" type="button" ng-click="play_pause(($index + user.reposts.length), playlist.current_song.song, playlist)" name="play"><span id="s{{$index + user.reposts.length}}" class="glyphicon glyphicon-play"></span></button>
          </div>
        </div>
        <div class="w{{playlist._id}}"></div>
        <div class="row">
          <p class="col-xs-6 text-center">{{playlist.current_song.song.artist_name}}</p>
          <p class="col-xs-6 text-center"><a href="#!/song/{{playlist.current_song.song._id}}">{{playlist.current_song.song.song_title}}</a></p>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <button class="preview_button" uib-tooltip="unlike" ng-if="playlist.likeFlag" ng-click="playlistDisLike(playlist._id, id, $index)"><span class="glyphicon glyphicon-heart red"></span></button>
            <button class="preview_button" uib-tooltip="like" ng-if="playlist.likeFlag === false" ng-click="playlistLike(playlist._id, id, $index)"><span class="glyphicon glyphicon-heart"></span> </button>
            <button class="preview_button" uib-tooltip="unpost" ng-if="playlist.repostFlag" ng-click="playlistRemoveRepost(playlist._id, id, $index)"><span class="glyphicon glyphicon-retweet red"></span></button>
            <button class="preview_button" uib-tooltip="post" ng-if="playlist.repostFlag === false" ng-click="playlistRepost(playlist._id, id, $index)"><span class="glyphicon glyphicon-retweet"></span></button>                </div>
          <div id="t{{$index}}" class="col-xs-8"></div>
          <div class="col-xs-1" id="l{{song._id}}"></div>
        </div>
        <div id="tracklist">
          <div ng-repeat="song in playlist.songs" ng-if="song != playlist.current_song.song" class="row">
            <div class="col-xs-1">
              <p>{{$index + 1}}</p>
            </div>
            <div class="col-xs-4">
              <p>{{song.song_title}}</p>
            </div>
            <div class="col-xs-4">
              <p>{{song.artist_name}}</p>
            </div>
            <div class="col-xs-2">
              <button class="preview_button" ng-click="changeSongPlaylist(($parent.$parent.$index + user.reposts.length), $index, song, playlist)" type="button" name="button"><span class="glyphicon glyphicon-play"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div ng-if="containerView == 2">
      <h3 ng-if="user.following.length == 0">User is not following anyone</h3>
      <div class="following col-lg-3 following_button" ng-repeat="following in user.following">
        <a href="/#!/profile/{{following.username}}/{{following._id}}">
        <img class="img-circle follow_image img-responsive" ng-src="{{following.profile_image}}">
        <p class="text-center">{{following.username}}</p>
        </a>
        <span ng-if="following._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="following.followingcheck == false" ng-click="follow(following._id)">Follow</button></span>
        <span ng-if="following._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="following.followingcheck == true" ng-click="unfollow(following._id)">Unfollow</button></span>
        <a ng-if="following._id == id" class="ui-following" href="/#!/profile/{{following.username}}/{{following._id}}">Return to your Profile</a>
      </div>
    </div>
    <div ng-if="containerView == 3">
      <h3 ng-if="user.followers.length == 0">User has no followers</h3>
      <div class="following col-lg-3 following_button" ng-repeat="follower in user.followers">
        <a href="/#!/profile/{{follower.username}}/{{follower._id}}">
        <img class="img-circle follow_image img-responsive" ng-src="{{follower.profile_image}}">
        <p class="text-center social_username">{{follower.username}}</p>
        </a>
        <span ng-if="follower._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="follower.followingcheck == false" ng-click="follow(follower._id)">Follow</button></span>
        <span ng-if="follower._id !== id"><button class="btn btn-outline-secondary center-block" ng-if="follower.followingcheck == true" ng-click="unfollow(follower._id)">Unfollow</button></span>
        <a id="return" class="center-block" ng-if="follower._id == id" href="/#!/profile/{{follower.username}}/{{follower._id}}">Return to your Profile</a>
      </div>
    </div>
  </div>
</div>
<style>
.following{
  margin-top: 15px;
  margin-bottom: 20px;
  top: 30px;
  height: 240px;
  display: inline-block;
  font-size: 20px;
}
.follow_image{
  width: 200px;
  height: 200px;
}
.img-responsive{
  margin: 0 auto;
}
.social_username{
  font-size: 20px;
}
.following_button button {
  display: none;
}
.following_button:hover button{
  width: 70px;
  height: 30px;
  font-size: 12px;
  display: block;
}
.following_button #return{
  display: none;
}
.following_button:hover #return{
  width: 120px;
  height: 10px;
  font-size: 12px;
  display: block;
}
</style>
