<navigation></navigation>
<div class="container">
  <div class="audio_player_preview">
    <div class="row">
      <img class="col-xs-3" id="album_cover_preview" ng-src="{{song.album_cover}}" alt="Album Cover">
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-10">
            <p>{{song.artist_name}}</p>
            <p class="song_title">{{song.song_title}}</p>
          </div>
          <div class="col-xs-2">
            <button ng-click="switch()" ng-if="audio_ready" type="button" class="preview_play_button" id="play" name="play"><span class="glyphicon glyphicon-{{play}}"></span></button>
          </div>
        </div>
        <div id="waveform_preview"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <button class="preview_button" ng-if="song.likes.indexOf(id) > -1" ng-click="disLike(song._id, id)"><span class="glyphicon glyphicon-heart"></span> {{song.likes.length}}</button>
        <button class="preview_button" ng-if="song.likes.indexOf(id) == -1" ng-click="like(song._id, id)"><span class="glyphicon glyphicon-heart"></span> {{song.likes.length}}</button>
        <button class="preview_button" ng-if="song.reposted_by.indexOf(id) > -1" ng-click="removeRepost(song._id, id)"><span class="glyphicon glyphicon-retweet"></span> {{song.reposted_by.length}}</button>
        <button class="preview_button" ng-if="song.reposted_by.indexOf(id) == -1" ng-click="repost(song._id, id)"><span class="glyphicon glyphicon-retweet"></span> {{song.reposted_by.length}}</button>
        <button class="preview_button" type="button" name="button"><span class="glyphicon glyphicon-plus"></span>Playlist</button>
      </div>
      <div id="timed_comments" class="col-xs-8">
      </div>
      <div class="col-xs-1" id="length"></div>
    </div>
  </div>
  <div id="song_comments">
    <h4 ng-click="test()">Comments</h4>
    <form ng-submit="addComment(song._id)" ng-if="audio_ready">
      <input type="text" ng-model="comment.content">
      <input type="submit" value="Comment">
    </form>
    <div class="comment" ng-repeat="comment in song.comments">
      <p>{{comment.content}} at {{comment.time_marker | secToMinSec}}</p>
      <p>- {{comment._user.firstName}}</p>
    </div>
  </div>
</div>
