<navigation></navigation>
<div class="container">
  <div class="audio_player_preview">
    <div class="row">
      <img class="col-xs-3" id="album_cover_preview" ng-src="{{song.album_cover}}" alt="Album Cover">
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-4 col-sm-5">
            <p>{{song.artist_name}}</p>
            <p class="song_title">{{song.song_title}}</p>
          </div>
          <div class="col-sm-5 col-xs-4">
            <p>{{song.description}}</p>
          </div>
          <div class="col-xs-4 col-sm-2">
            <button ng-click="switch()" ng-if="audio_ready" type="button" class="preview_play_button" id="play" name="play"><span id="play_symbol" class="glyphicon glyphicon-play"></span></button>
          </div>
        </div>
        <div id="waveform_preview"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-3">
        <button class="preview_button" ng-if="likeFlag" uib-tooltip="unlike" ng-click="disLike(song._id, id)"><span class="glyphicon glyphicon-heart red"></span> {{song.likes.length}}</button>
        <button class="preview_button" ng-if="likeFlag === false" uib-tooltip="like" ng-click="like(song._id, id)"><span class="glyphicon glyphicon-heart"></span> {{song.likes.length}}</button>
        <button class="preview_button" ng-if="repostFlag" uib-tooltip="unpost" ng-click="removeRepost(song._id, id)"><span class="glyphicon glyphicon-retweet red"></span> {{song.reposted_by.length}}</button>
        <button class="preview_button" ng-if="repostFlag === false" uib-tooltip="post" ng-click="repost(song._id, id)"><span class="glyphicon glyphicon-retweet"></span> {{song.reposted_by.length}}</button>
        <button class="preview_button" ng-click="open(song._id)" uib-tooltip="add to playlist"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
      <div id="timed_comments" class="col-sm-8 col-xs-6">
      </div>
      <div class="col-sm-1 col-xs-2" id="length"></div>
    </div>
  </div>
  <div ng-if="song._user._id === id">
  <button type="button" ng-click="edit(song._id)" class="btn btn-warning">Edit</button>
  </div>
  <div id="song_comments">
    <div ng-if="errors">
      <p ng-repeat="error in errors">{{error}}</p>
    </div>
    <form ng-submit="addComment(song._id)" ng-if="audio_ready">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="comment.content" placeholder="Add a comment">
      </div>
    </form>
    <div class="row">
      <div class="col-sm-2 col-xs-0">
        <a href="#!/profile/{{song._user.firstName}}/{{song._user._id}}"><img ng-src="{{song._user.profile_image}}" class="song_comment_user img-responsive"></a>
        <h5 class="text-center"><a href="#!/profile/{{song._user.firstName}}/{{song._user._id}}">{{song._user.username}}</a></h5>
        <div class="row">
          <div class="col-xs-6">
            <h6 class="text-center">{{song._user.followers.length}} <span class="glyphicon glyphicon-user" uib-tooltip="Followers"></span></h6>
          </div>
          <div class="col-xs-6">
            <h6 class="text-center">{{song._user.uploaded_songs.length}} <span class="glyphicon glyphicon-music" uib-tooltip="Uploads"></h6>
          </div>

        </div>

      </div>
      <div class="col-sm-6">
        <button type="button" class="song_repost_div tag btn" ng-repeat="tag in song.tags" ng-click="tagSearch(tag)" uib-tooltip="Search {{tag}}"># {{tag}}</button>
        <h4>{{song.comments.length}} Comments</h4>
        <div class="comment" ng-repeat="comment in song.comments">
          <div class="row">
            <div class="col-xs-2">
              <img ng-src="{{comment._user.profile_image}}" class="comment_picture">
            </div>
            <div class="col-xs-10">
              <div class="row">
                <div class="col-xs-8">
                  <p><a href="#!/profile/{{comment._user.firstName}}/{{comment._user._id}}">{{comment._user.username}}</a> at <span class="changeTime blue" time="{{comment.time_marker}}">{{comment.time_marker | secToMinSec}}</span></p>
                </div>
                <div class="col-xs-4">
                  <p>{{comment.createdAt | date}}</p>
                </div>
              </div>
              <h5>{{comment.content}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-0">
        <h4 class="text-center">In Playlists</h4>
        <hr>
          <div ng-repeat="playlist in song.in_playlists | limitTo: 3">
            <div class="row">
              <div class="col-xs-4">
                <a href="#!/playlist/{{playlist._id}}"></a><img ng-src="{{playlist.first_song_art}}" class="mini_playlist">
              </div>
              <div class="col-xs-8">
                <a href="#!/playlist/{{playlist._id}}"><b>{{playlist.title}}</b></a>
                <p>By <a href="#!/profile/{{playlist._user.firstName}}/{{playlist._user._id}}">{{playlist._user.username}}</a></p>
                <div class="row">
                  <div class="col-xs-6">
                    <h6>{{playlist.likes.length}} <span class="glyphicon glyphicon-heart" uib-tooltip="Playlist Likes"></span></h6>
                  </div>
                  <div class="col-xs-6">
                    <h6>{{playlist.reposts.length}} <span class="glyphicon glyphicon-retweet" uib-tooltip="Playlist Reposts"></span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 class="text-center">{{song.reposted_by.length}} Reposts</h4>
          <hr>
          <div class="row centered_bit">
            <div class="song_repost_div" ng-repeat="user in song.reposted_by | limitTo: 4">
                <a href="#!/profile/{{user.firstName}}/{{user._id}}"><img ng-src="{{user.profile_image}}" class="comment_picture img-responsive" uib-tooltip="{{user.username}}"></a>
            </div>
          </div>
          <h4 class="text-center">{{song.likes.length}} Likes</h4>
          <hr>
          <div class="row centered_bit">
            <div class="song_repost_div" ng-repeat="user in song.likes | limitTo: 4">
                <a href="#!/profile/{{user.firstName}}/{{user._id}}"><img ng-src="{{user.profile_image}}" class="comment_picture img-responsive" uib-tooltip="{{user.username}}"></a>
            </div>
          </div>
      </div>

    </div>

  </div>
</div>
