<navigation></navigation>
<div class="container">
  <div id="main-content" class="col-sm-8 col-xs-12">
    <div id="user-links" class="col-sm-12">
      <ul class="nav nav-pills tabs">
        <li class="active"><a href="#"><h3>Stream</h3></a></li>
        <li><a href="#"><h3>Charts</h3></a></li>
        <li><a href="#"><h3>Discover</h3></a></li>
      </ul>
    </div>
    <div class="col-sm-12">
      <h4 class="headline">Hear the latest from the people you're following: </h4>
    </div>
    <div id="user-stream" class="col-sm-12">
      <div class="row col-sm-12">
        <p><img src="{{user.profile_image}}" alt="User Profile Image" class="sm-user-img img-circle">(artist name here) posted a (track/playlist) (X time ago)</p>
        <div class="stream-song-art">
          <img src="{{user.profile_image}}" alt="Album Cover">
        </div>
        <div class="song-content">
          <div class="song-header col-xs-12">
            <button class="play-button img-circle"><span class="glyphicon glyphicon-play"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right-sidebar" class="col-sm-4 col-xs-12">
    <div class="sidebar-headlines col-sm-12">
      <h5 class="headline"><span class="glyphicon glyphicon-fire"></span>  Who to Follow</h5>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
