<navigation></navigation>
<div class="container">
  <div id="main-content" class="col-sm-8 col-xs-12 light-gray-right-border">
    <div id="user-links" class="col-sm-12">
      <uib-tabset id="home-tabs" active="activePill" vertical="false" type="pills">
        <uib-tab index="0" heading="Stream" data-ng-click="changeView(0)"></uib-tab>
        <uib-tab index="1" heading="Discover" data-ng-click="changeView(1)"></uib-tab>
      </uib-tabset>
    </div>
    <div class="col-sm-12">
      <h4 class="headline">Hear the latest from the people you're following: </h4>
    </div>
    <div id="user-stream" class="col-sm-12">
      
    </div>
  </div>
  <div id="right-sidebar" class="col-sm-4 col-xs-12">
    <div class="sidebar-headlines col-sm-12">
      <h5 class="headline"><span class="glyphicon glyphicon-fire"></span>  Who to Follow</h5>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
