* {
  font-family: helvetica;
}

body {
  background: linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  background: -webkit-linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  background: -o-linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  background: -moz-linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  padding-top: 50px;
}

#nav-container {
  background-color:#333333;
  height: 50px;
}

.container-fluid {
  width: 100%;
  padding: 0px 10%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  height: 1000px;
}

.navbar-custom {
    background-color:#333333;
    color:#C5C5C5;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#C5C5C5;
    text-shadow: none;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover{
  color: #ffffff;
  background-color: #111111
}

.navbar-custom .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #333333
}

.navbar-nav > .dropdown > :focus {
  background-color: #111111
}

.navbar-custom .navbar-nav > .active > a {
  background-color: #111111
}

.navbar-custom .navbar-brand {
    color:#C5C5C5;
    text-shadow: none;
    font-family: cursive;
}

#main-nav {
  background-color: #333333;
  color: #000000;
  background-image: none;
  border: none;
  border-radius: 0;
  margin-right: 0;

}

.navbar .navbar-fluid {
background-color: #333;
}

.navbar-center {
  float: none;
}

.nav-collapse{
    margin-right: 50%;
}

#nav-form {
   width: 45%;
   height: 100%;
   margin-left: -7px;
   vertical-align: middle;
   text-align: center;
   position: relative;
 }


#nav-search {
  width: 100%;
  border-radius: 5px;
  border: 0px;
  height: 2em;
  background-color: #E5E5E5;
  background-image: url(../images/search.png);
  background-size: 20px;
  background-position: 99% 50%;
  background-repeat: no-repeat;
  margin-top: 3px;
}

#invisible-submit {
  width:25px;
  height:25px;
  opacity:0;
  right: 18px;
  top: 5px;
  position: absolute;
}

.nav .open >a, .nav .open >a:focus, .nav .open >a:hover{
  background-color: #333333;
  color: #FFFFFF;
}

.navbar-nav .open .dropdown-menu {
  background-color: #111111;
}

.navbar-nav > li > a:focus {
  background-color: #111111;
}

.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #111111;
}

.navbar-nav .open .dropdown-menu > li > a {
  color: #C5C5C5;
  background-color: #111111;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-toggle {
  border: 1px solid #FFF;
  border-radius: 5px;
}

.navbar .nav > li.dropdown.open > a,
.navbar .nav > li.dropdown.open > ul.dropdown-menu > li > a:hover {
   color: #fff;
   background-color: #111111;
   border-color: #fff;
}

.navbar .nav > li.dropdown.open > ul.dropdown-menu {
  border-right: 0px;
  margin-right: -6px;
}

.sm-user-img {
  max-height: 26px;
  padding-right: 5px;
}

#user-dropdown {
  padding: 13px 3px 10px 3px;
}

#user-dropdown > .dropdown-menu {
  margin-left: 10px;
}

.navbar .nav > li.dropdown.open > ul.dropdown-menu > .divider {
  background-color: #333333
}

.navbar-left > li {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-nav .open .dropdown-menu > li > a {
    color: #C5C5C5;
    background-color: #111111;
  }

  .navbar-nav .open .dropdown-menu > li:hover {
    color: #FFFFFF;
    background-color: #333333;
  }
}

@media (max-width: 949px) {
  #nav-container {
    width: 100%;
    padding: 0px 10px;
  }

  .container-fluid {
    padding: 0px 4px;
  }

  .container {
    width: 100%
  }
  .navbar-collapse.collapse.in {
     display: block;
  }
  .collapsing {
    overflow: hidden;
  }

}
@media (max-width: 767px) {
  #nav-form {
    min-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #invisible-submit {
    width:25px;
    height:25px;
    opacity:0;
    right: 18px;
    top: 14px;
    position: absolute;
  }
  
  .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: -50px;  /* 50% of your logo width */
      display: block;
  }

  .navbar-custom .navbar-nav > li > a {
    min-width: 80%;
    text-align: center;
  }
  .navbar-left > li {
    min-width: 80%;
    text-align: center;
    border: 0px;
    margin: 0 auto;
  }
}
@media (max-width: 1106px) {
  #nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  #nav-search {
    width: 100%
  }
  #nav-form {
    width: 35%
  }
}
.dropdown-toggle {
  color: #000000
}
.navbar .nav .navbar-right> li.dropdown.open.active > ul > li > a:hover,
.navbar .nav .navbar-right> li.dropdown.open > ul > li > a,
.navbar .nav .navbar-right> li.dropdown > ul.dropdown-menu > li > ul > li >  a:hover
{
   color: #fff;
   background-color: #333333;
   border-color: #fff;
   padding-left: 0px
}

.nav .navbar-nav .navbar-left > .active > a { color: #FFF }

#main-content {
  padding: 0px 20px 0px 0px;
}

#main-content > a {
  padding-left: 0px;
}

.tabs > li.active > a,
.tabs > li.active > a:focus,
.tabs > li.active > a:hover{
  color: #FF5547;
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-bottom: 0px;
}

.tabs > li > a,
.tabs > li > a:focus,
.tabs > li > a:hover{
  color: #000000;
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-bottom: 0px;
}


.tabs > li.active > a > h3,
.tabs > li.active > a:hover > h3{
  padding-bottom: 10px;
  border-bottom: 1px solid #FF5547;
  margin-bottom: 0px;
}

.tabs > li > a:focus > h3,
.tabs > li > a:hover > h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  margin-bottom: 0px;
}

.tabs {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: -10px
}

#user-links {
  margin-bottom: 20px
}

.profile_picture{
  margin-top: 50px;
  margin-left: 10px;
  max-width: 18%;
  max-height: 23%;
  position: absolute;
}

#first_name{
  margin-left: 15%;
  margin-top: 5%;
  position: absolute;
}
#profile_select_picture{
  position: absolute;
}

#header{
  height: 20em;
}

.cover_picture{
  width: 100%;
  max-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cover_picture img {
  min-height: 100%;
  min-width: 100%;
}

.headline {
  color: #999999;
}

#right-sidebar {
  border-left: 1px solid #D5D5D5;
  height: 60%;
  padding: 20px;
}

.sidebar-headlines {
  border-bottom: 1px solid #D5D5D5;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

#user-stream {
  margin: 15px 0px 0px 0px;
}

.stream-song-art > img {
  width: 150px;
  height: 150px;
  border: 1px solid #C2C2C2;
}

.stream-song-art {
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
}

.song-content {
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.play-button {
  background-color: #FF5500;
  color: #FFF;
  height: 40px;
  width: 40px;
  border: none;
}
