* {
  font-family: helvetica;
}

body {
  background: linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  background: -webkit-linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  background: -o-linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  background: -moz-linear-gradient(left, #F2F2F2, #FFFFFF, #F2F2F2);
  padding-top: 50px;
}

#nav-container {
  background-color:#333333;
  height: 50px;
}

.blue {
  color: #337AB7;
}

.comment {
  margin: 1.5em 0 1.5em 0
}

.comment_picture{
  height: 4em;
  width: 4em;
  border-radius: 90px;
  display: inline-block;
  vertical-align: top;
}

.song_comment_user{
  height: 8em;
  width: 8em;
  border-radius: 90px;
  margin: 0 auto;
}

.song_repost_div{
  display: inline-block;
  vertical-align: top;
  margin-left: .2em;
}

.song_repost_div p{
  font-size: .8em
}

.tag{
  background: grey;
  color: white;
  padding: .2em .8em;
  border-radius: 20px
}

.centered_bit{
  margin: 0 auto;
}

.mini_playlist{
  height: 5em;
  width: 5em;
}

.who_follow {
  margin: 3em 0 2em 0;
}

.container-fluid {
  width: 100%;
  padding: 0px 10%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 50px 0;
  background-color: #FFFFFF;
  height: 100%;
  overflow: hidden;
}

#audio-player {
  background-color:#333333;
  color: #FFFFFF;
  height: 50px;
}

#player-controls {
  text-align: center;
}

#player-controls > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: x-large;
}

#player-controls > a > span {
  margin: 12px 15px;
}

#player-controls > div {
  display: inline-block;
  vertical-align: top;
}

#player-controls > div > p {
  font-size: small;
  margin: 5px;
}

#audio_player_album_cover {
  width: 30px;
  height: 30px;
  margin: 10px;
  vertical-align: top;
}
.nav-span {
  color: #C5C5C5;
  line-height: 20px;
  position: relative;
  padding: 15px 5px;
  display: block;
}

.nav>li>a {
  padding: 15px 5px;
}

.navbar-custom {
    background-color:#333333;
    color:#C5C5C5;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#C5C5C5;
    text-shadow: none;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover{
  color: #ffffff;
  background-color: #111111
}

.navbar-custom .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #333333
}

.navbar-nav > .dropdown > :focus {
  background-color: #111111
}

.navbar-custom .navbar-nav > .active > a {
  background-color: #111111
}

.navbar-custom .navbar-brand {
    color:#FFFFFF;
    background: linear-gradient(bottom, #FF3300, #FF7700);
    background: -webkit-linear-gradient(bottom, #FF3300, #FF7700);
    background: -moz-linear-gradient(bottom, #FF3300, #FF7700);
    background: -o-linear-gradient(bottom, #FF3300, #FF7700);
    text-shadow: none;
    font-family: cursive;
}

#tracklist{
  height: 6em;
  overflow: scroll;
}

#main-nav {
  background-color: #333333;
  color: #000000;
  background-image: none;
  border: none;
  border-radius: 0;
  margin-right: 0;

}

.red {
  color: red;
}

.navbar .navbar-fluid {
background-color: #333;
}

.navbar-center {
  float: none;
}

.nav-collapse{
    margin-right: 50%;
}

#nav-form {
   width: 45%;
   height: 100%;
   margin-left: -7px;
   vertical-align: middle;
   text-align: center;
   position: relative;
 }


#nav-search {
  width: 100%;
  border-radius: 5px;
  border: 0px;
  height: 2em;
  background-color: #E5E5E5;
  background-image: url(../images/search.png);
  background-size: 20px;
  background-position: 99% 50%;
  background-repeat: no-repeat;
  margin-top: 3px;
}

#invisible-submit {
  width:25px;
  height:25px;
  opacity:0;
  right: 18px;
  top: 5px;
  position: absolute;
}

.nav .open >a, .nav .open >a:focus, .nav .open >a:hover{
  background-color: #333333;
  color: #FFFFFF;
}

.navbar-nav .open .dropdown-menu {
  background-color: #111111;
}

.navbar-nav > li > a:focus {
  background-color: #111111;
}

.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #111111;
}

.navbar-nav .open .dropdown-menu > li > a {
  color: #C5C5C5;
  background-color: #111111;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-toggle {
  border: 1px solid #FFF;
  border-radius: 5px;
}

.navbar .nav > li.dropdown.open > a,
.navbar .nav > li.dropdown.open > ul.dropdown-menu > li > a:hover {
   color: #fff;
   background-color: #111111;
   border-color: #fff;
}

.navbar .nav > li.dropdown.open > ul.dropdown-menu {
  border-right: 0px;
  margin-right: -6px;
}

.sm-user-img {
  height: 26px;
  width: 26px;
  margin-right: 5px;
}

#user-dropdown {
  padding: 13px 3px 10px 15px;
}

#user-dropdown > .dropdown-menu {
  margin-left: 10px;
}

.navbar .nav > li.dropdown.open > ul.dropdown-menu > .divider {
  background-color: #333333
}

.navbar-left > li {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
  text-align: center;
}

#sign_in {
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 5px;
}

#sign_in:hover {
  border-color: #D2D2D2
}

#create_account {
  background-color: #FF5500;
  color: #FFFFFF;
  border: 1px solid #FF5500;
  border-radius: 5px;
}

#nav-login-button, #nav-register-button {
  padding: 12px 5px 10px 5px;
}

.dropdown-toggle {
  color: #000000
}
.navbar .nav .navbar-right> li.dropdown.open.active > ul > li > a:hover,
.navbar .nav .navbar-right> li.dropdown.open > ul > li > a,
.navbar .nav .navbar-right> li.dropdown > ul.dropdown-menu > li > ul > li >  a:hover
{
   color: #fff;
   background-color: #333333;
   border-color: #fff;
   padding-left: 0px
}

.nav .navbar-nav .navbar-left > .active > a { color: #FFF }

#main-content {
  padding: 0px 20px 0px 0px;
  min-height: 450px;
}

#main-content > a {
  padding-left: 0px;
}

#search-results {
  padding: 10px 20px 0px 0px;
  min-height: 450px;
}

#search-headline {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 10px;
  padding-left: 0px;
}

#search-results > a {
  padding-left: 0px;
}

#profile-content {
  padding: 0px 20px 0px 0px;
  min-height: 450px;
}

#profile-content > a {
  padding-left: 0px;
}

#result-tabs >.nav-pills > li {
  width: 100px;
}

#result-tabs > .nav-pills > li.active > a,
#result-tabs > .nav-pills > li.active > a:focus,
#result-tabs > .nav-pills > li.active > a:hover {
  background-color: #FF5500;
  height: 30px;
  width: 100px;
  padding: 5px;
  border-radius: 0px;
  color: #FFFFFF;
}

#result-tabs > .nav-pills > li > a,
#result-tabs > .nav-pills > li > a:focus,
#result-tabs > .nav-pills > li > a:hover {
  background-color: #FFFFFF;
  color: #000000;
  height: 30px;
  width: 100px;
  padding: 5px;
}

#home-tabs > .nav-pills > li.active > a,
#home-tabs > .nav-pills > li.active > a:hover,
#social-tabs > .nav-pills > li.active > a,
#social-tabs > .nav-pills > li.active > a:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #FF5547;
  margin-bottom: 0px;
  background-color: #FFFFFF;
  border-radius: 0px;
}

#home-tabs >.nav-pills > li > a:hover,
#social-tabs >.nav-pills > li > a:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  margin-bottom: 0px;
  border-radius: 0px;
}

#home-tabs > .nav-pills,
#social-tabs > .nav-pills {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: -10px;
  margin-right: -15px;
}

#home-tabs >.nav-pills > li.active > a,
#home-tabs >.nav-pills > li.active > a:focus,
#home-tabs >.nav-pills > li.active > a:hover,
#social-tabs >.nav-pills > li.active > a,
#social-tabs >.nav-pills > li.active > a:focus,
#social-tabs >.nav-pills > li.active > a:hover {
  color: #FF5547;
  background-color: #FFFFFF;
  padding: 0px;
}

#home-tabs >.nav-pills > li > a,
#home-tabs >.nav-pills > li > a:focus,
#home-tabs >.nav-pills > li > a:hover{
  color: #000000;
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-bottom: 0px;
  font-size: 1.65em;
  padding: 0px;
  margin: 25px 15px 0px 0px;
}

#social-tabs >.nav-pills > li > a,
#social-tabs >.nav-pills > li > a:focus,
#social-tabs >.nav-pills > li > a:hover{
  color: #000000;
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-bottom: 0px;
  font-size: 1.45em;
  padding: 0px;
  margin: 25px 15px 0px 0px;
}

#social-tabs {
  margin-left: 15px;
  padding-right: 30px;
}

#social-results {
  padding-top: 300px;
  z-index: 0;
  padding-bottom: 50px;
}
#user-links {
  margin-bottom: 20px
}

#profile-links > .tabs > li.active > a > h4,
#profile-links > .tabs > li.active > a:hover > h4{
  padding-bottom: 10px;
  border-bottom: 1px solid #FF5547;
  margin-bottom: 0px;
}

#profile-links > .tabs > li > a:focus > h4,
#profile-links > .tabs > li > a:hover > h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  margin-bottom: 0px;
}

#profile-links {
  margin: 15px
}

#profile-links > .tabs {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: -10px;
  margin-right: 20px;
}

.song-area {
  margin: 5px 0px 15px;
}

.profile-buttons {
  margin: -24px 25px 0px -15px;
}

.profile_picture{
  left: 20px;
  bottom: 25px;
  width: 200px;
  height: 200px;
  position: absolute;
}

#username{
  left: 245px;
  bottom: 170px;
  position: absolute;
  background-color: #000;
  opacity: .7;
  color: #FFF;
  padding: 5px;
  font-weight: bold;
}

#profile_name{
  left: 245px;
  bottom: 130px;
  position: absolute;
  background-color: #000;
  opacity: .7;
  color: #FFF;
  padding: 5px;
}

#profile_location{
  left: 245px;
  bottom: 90px;
  position: absolute;
  background-color: #000;
  opacity: .7;
  color: #FFF;
  padding: 5px;
}

#profile_select_picture{
  position: absolute;
}

#header{
  height: 280px;
  position: relative;
}

#social-header {
  height: 220px;
  position: relative;
}

.social_profile_picture{
  left: 20px;
  bottom: 25px;
  width: 150px;
  height: 150px;
  position: absolute;
}

#social_profile_name{
  left: 205px;
  bottom: 130px;
  position: absolute;
  color: #000;
  padding: 5px;
}

#fixed-top {
  position: fixed;
  height: 300px;
  width: 80%;
  background-color: #FFF;
  z-index: 9999;
}

.cover_picture {
  width: 100%;
  height: 280px;
  overflow: scroll;
}

.cover_image {
  min-height: 100%;
  min-width: 100%;
}

.headline {
  color: #999999;
}

.light-gray-right-border {
  border-right: 1px solid #D5D5D5;
}

#right-sidebar {
  height: 60%;
  padding: 20px;
}

#left-sidebar {
  padding: 20px;
}

.sidebar-headlines {
  border-bottom: 1px solid #D5D5D5;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

#user-stream {
  margin: 15px 0px 0px 0px;
}

.stream-song-art > img {
  width: 150px;
  height: 150px;
  border: 1px solid #C2C2C2;
}

.stream-song-art {
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
}

.song-content {
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.play-button {
  background-color: #FF5500;
  color: #FFF;
  height: 40px;
  width: 40px;
  border: none;
}

.audio_player_preview{
  background: #2E282A;
  border-radius: 10px;
  border: .5em solid #c0c0c0;
  color: #FAD8D6;
}
#album_cover_preview{
  display: inline-block;
  vertical-align: top;
  color: #FAD8D6;
}
.song_title{
  font-size: 1.3em;
  margin-bottom: 0em;
  margin-top: -0.5em
}
.preview_play_button{
  background: #EF3E36;
  border-radius: 90px;
  width: 3.5em;
  height: 3.5em;
  border: none;
  margin: 0.5em 0 0 1.2em
}
.preview_button{
  background: #2E282A;
  border: none;
  font-size: .8em
}

.user-stats-info {
  padding-right: 15px;
  padding-left: 10px;
}

.user-stats-info:first-child {
  padding-left: 0px;
}

.user-stats-info > a {
  text-decoration: none;
  color: #B2B2B2;
}

.search-profile-image {
  width: 150px;
  height: 150px;
}

.search-result-info {
  height: 175px;
  vertical-align: center;
  padding-top: 20px;
  margin-left: -20px;
}
.search-result-playlist {
  height: 175px;
  vertical-align: center;
  padding-top: 10px;
  margin-left: -20px;
}

@media (max-width: 570px) {
  .search-result {
    text-align: center;
  }

  #player-controls > div {
    margin-top: 3px;
  }
  #player-controls > div > p {
    font-size: x-small;
  }
  #player-controls > a > span {
    margin: 12px 3px;
  }
}

@media (max-width: 767px) {
  #nav-form {
    min-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #invisible-submit {
    width:25px;
    height:25px;
    opacity:0;
    right: 18px;
    top: 14px;
    position: absolute;
  }

  .nav-span {
    text-align: center;
  }
  .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      display: block;
      border-radius: 3px
  }

  .navbar-custom .navbar-nav > li > a {
    min-width: 80%;
    text-align: center;
  }
  .navbar-left > li {
    min-width: 80%;
    text-align: center;
    border: 0px;
    margin: 0 auto;
  }

  #result-tabs >.nav-pills > li.active,
  #result-tabs > .nav-pills > li {
    display: inline-block;
  }

  #result-tabs >.nav-pills {
    text-align: center;
  }

  #search-results {
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
  .navbar-nav .open .dropdown-menu > li > a {
    color: #C5C5C5;
    background-color: #111111;
  }

  .navbar-nav .open .dropdown-menu > li:hover {
    color: #FFFFFF;
    background-color: #333333;
  }

  #result-tabs > .nav-pills > li.active > a::after {
     content:"";
     position: absolute;
     left: 100%;
     top: 0px;
     width: 0;
     height: 0;
     border-top: 15px solid transparent;
     border-left: 14px solid #FF5500;
     border-bottom: 15px solid transparent;
  }
}

@media (max-width: 949px) {
  #nav-container {
    width: 100%;
    padding: 0px 10px;
  }

  .player-container {
    width: 100%;
    padding: 0px 10px;
  }

  .container-fluid {
    padding: 0px 4px;
  }

  .container {
    width: 100%
  }

  #fixed-top {
    width: 100%
  }
  .navbar-collapse.collapse.in {
     display: block;
  }
  .collapsing {
    overflow: hidden;
  }
}


@media (max-width: 1106px) {
  #nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  #nav-search {
    width: 100%
  }
  #nav-form {
    width: 35%
  }
}

@media (min-width: 1500px) {
  .container-fluid {
    width: 1230px;
    padding: 0px;
    margin: 0 auto;
  }
  .container {
    width: 1200px;
  }
  #fixed-top {
    width: 1200px;
  }

}
